<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SmartRent|Update apartment</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" href="/static/css/style.css" rel="stylesheet" type="text/css"/>



</head>

<body>

<div th:insert="~{/fragments/header :: header}"></div>

<div align="center">
    <h1>Edit Apartment Info</h1>
    <br/>


    <div class="modal-body">
        <form th:action="@{'/user/edit-apartment'}" method="post" th:object="${apartment}">
            <input type="hidden" id="id" th:field="${apartment.apartmentID}" name="id">

            <div class="col-md-6" style="margin-bottom: 2%">
                <div class="md-form mb-0">
                    <label for="New name" class="">New name</label>
                    <input th:field="${apartment.apartmentName}" type="text" id="New name" name="New name"
                           class="form-control">
                </div>
            </div>

            <div class="col-md-6" style="margin-bottom: 2%">
                <div class="md-form mb-0">
                    <label for="New price/night" class="">New price/night</label>
                    <input th:field="${apartment.ppn}" type="text" id="New price/night" name="New price/night"
                           class="form-control">
                </div>
            </div>

            <input type="hidden" id="countrey" th:field="${apartment.countrey}" name="id">
            <input type="hidden" id="city" th:field="${apartment.city}" name="id">
            <input type="hidden" id="status" th:field="${apartment.status}" name="id">
            <input type="hidden" id="adress" th:field="${apartment.adress}" name="id">

            <div class="text-center">
                <button type="submit" class="empty-button btn btn-default">
                    Edit
                </button>

            </div>

        </form>
    </div>
</div>

</div>

</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>